@use "src/styles/vars";

/* Position of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 7rem;
  padding: 1rem;

}
/* Color burger icon bars */
.bm-burger-bars {
  background: vars.$primary-color;
}
/* Color close button */
.bm-cross {
  background: #a90000; //BOUTON POUR FERMER
}
/* Management of menu + Overlay*/
.bm-menu {
  background: vars.$secondary-color;
  padding: 2em 1.5em 3em 1em;
  font-size: 0.8em;
  border-right: 3px solid vars.$primary-color;
  z-index : 2;

  width : 100%;



}
.bm-overlay {
  top: 0;
}

.menu-logo {
  .logo {
    width: 50%;   
  }
}

.menu-title {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: vars.$primary-color;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.checkbox {
  margin-bottom: 0.5em;
}


.checkbox-button:hover {
  background-color: vars.$secondary-color;
  color: vars.$primary-color;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;
}


.menu-item {
  display: inline-block;
  color: #6e6e6e;
  margin-bottom: 10px;
  text-align: left;
  transition: color 0.2s;
  label {
    margin-left: 1em;
  }
  // change color of checkbox
  input[type="checkbox"] {
    accent-color: vars.$primary-color;
  }

 
}
.menu-button-reset{
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  border-radius: 1rem;
  padding: 0.8em;
  margin : auto auto;
  margin-top: 2.5em;
  margin-bottom: 2em;
  font-size: 0.8rem;
  font-weight: 600;
  border : 1px solid vars.$primary-color;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: vars.$secondary-color;
    color: vars.$primary-color;
  }
}

// responsive for desktop