@use "src/styles/vars";

/* Position of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 7rem;
  padding: 1rem;

}
/* Color burger icon bars */
.bm-burger-bars {
  background: vars.$primary-color;
}
/* Color close button */
.bm-cross {
  background: #a90000; //BOUTON POUR FERMER
}
/* Management of menu + Overlay*/
.bm-menu {
  background: vars.$secondary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
  border-right: 3px solid vars.$primary-color;
  z-index : 2;

}
.bm-overlay {
  top: 0;
}

.menu-logo {
  .logo {
    width: 90%;
    padding: 1em;
  }
}

.menu-title {
  padding-top: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: vars.$primary-color;
  margin-bottom: 0.9rem;
}

.checkbox {
  margin-bottom: 1em;
}
.checkbox-button {
  width : 50%;
  height: 2em;;
  border-radius: 2rem;
  border: 1px solid vars.$primary-color;
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  font-size: 1rem;
}

.checkbox-button:hover {
  background-color: vars.$secondary-color;
  color: vars.$primary-color;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;
}

.menu-item {
  display: inline-block;
  color: #6e6e6e;
  margin-bottom: 10px;
  text-align: left;
  transition: color 0.2s;
  label {
    margin-left: 1em;
  }
  // change color of checkbox
  input[type="checkbox"] {
    accent-color: vars.$primary-color;
  }
}
