@use "src/styles/vars";

// Main Div
.menuCheckbox {
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;
  position: fixed;
  width: 250px;
  padding: vars.$gutter1;
  border-right: solid 1px vars.$primary-color;
  margin-left: vars.$gutter1;
  height: 100%;
  margin-top: 5rem;
}

// Main Container
.links {
  display: flex;
  flex-direction: column;
  
}

// Filter Tilte
.checkbox-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: vars.$gutter1;
  color: vars.$primary-color;
  padding-top: vars.$gutter1;
}

// All options of checkbox
.checkbox {
  color: inherit;
  padding: 1.2rem;
  font-size: vars.$font-size-1rem;
}

// Button to validate the selected filters
.checkbox-btn {
  background-color: vars.$primary-color;
  color: white;
  padding: 0.5rem vars.$gutter1;
  border: 1px solid vars.$primary-color;
  border-radius: vars.$gutter1;
  width: 100px;
  font-size: vars.$font-size-1rem;
}

.checkbox-btn:hover {
  background-color: white;
  color: vars.$primary-color;
  border: 3px solid vars.$primary-color;
  padding: 0.5rem vars.$gutter1;
  border-radius: vars.$gutter1;
  width: 100px;
  font-weight: 700;
  font-size: 0.7rem;
  transition: all 0.3s ease-in-out;
}
// End of filter Button

// Burger menu to open the filters-menu / display none on desktop
.burger {
  width: 60px;
  height: 60px;
  border-radius: 5rem;
  background: rgb(255, 255, 255);
  border: none;
  color: inherit;
  display: none;
}

.burger-bar{
  margin-left: 4px;
}

//* RESPONSIVE MANAGEMENT *//

@media screen and (max-width: 768px) {
  // No border on the burger menu for Mobile

  .menuCheckbox {
    border: none;
    box-shadow: none;
  }

  // Filters-menu --Visibility hidden on desktop
  .links {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    top: 0;
    height: 110vh;
    padding: vars.$gutter2;
    visibility: hidden;
    background-color: vars.$secondary-color;
    border-bottom: 3px solid #a02222;
    color: rgb(0, 0, 0);
  }





  // Show Class visible when State is true
  .show .links {
    width: 100vw;
    left: 0;
    visibility: visible;
  }

  // Change police size for mobile
  .link {
    padding: 1.5rem;
    font-size: 5vw;
  }

  .checkbox-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: vars.$primary-color;
    padding-top: 1rem;
  }

  .checkbox {
    padding: 0.5rem;
    font-size: vars.$font-size-1rem;
  }

  // Manage the burger menu for mobile

  .burger {
    display: block;
    top: 5rem;
    left: vars.$gutter1;
  }
  .burger:hover {
    cursor: pointer;
  }

  .burger-bar,
  .burger-bar::before,
  
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #a02222;


    
    
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
    
    
  }
  .burger-bar::before {
    transform: translateY(-12px);

  }
  .burger-bar::after {
    transform: translateY(12px);

  }
  .show .burger-bar {
    width: 0;
    background: transparent;
  }
  .show .burger-bar::before {
    transform: rotate(45deg);
    background: vars.$primary-color;
  }
  .show .burger-bar::after {
    transform: rotate(-45deg);
    background: vars.$primary-color;
  }
}

input[type='checkbox'] {   
  accent-color: vars.$primary-color; }