@use 'src/styles/vars';

.spinner {
  width: 100px;
  height: 100px;
  background-color: #A02222;
  margin: 5rem auto;
  animation: rotateplane 1.5s infinite ease-in-out;
  // ajouter une ombre
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.text-loader {

  text-align: center;
  font-size: 2rem;
  font-family: 'Rubik Dirt', sans-serif;
  color: rgb(63, 62, 60);
}
