@use "src/styles/vars";

.card {
  display: flex;
  flex-direction: column;
  width: 26em;
  margin-top: 5rem;
  border-radius: 2rem;
  border: 1px solid #a58b85;

  //* Concerns the upper part of the map: bottle image, capacity, tag and degrees *//
  .visual {
    display: flex;
    justify-content: center;
    width: 100%;

    .right-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logo-cart {
        width: 40%;
        margin-left: 3rem;
        margin-bottom: 1rem;
      }
    }
    .card-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
    .wine-logo {
      width: 5em;
    }
    // Concerns All tags
    .card-tag {
      width: 24%;
      margin-top: 2em;
      font-size: 1em;
      font-style: italic;
      .tag-Bio {
        color: #1ebd4e;
        margin-top: 0.5em;
      }
      .tag-Biodynamie {
        color: #1896b6;
        margin-top: 0.5em;
      }
      .tag-Nature {
        color: #c2250a;
        margin-top: 0.5em;
      }
      .tag-Vegan {
        color: #e9780f;
        margin-top: 0.5em;
      }
      .sulfites {
        color: #ac089e;
        margin-top: 0.5em;
        white-space: nowrap;

        
      }
      .tag-Raisonnée {
        color: #ad6f10;
        margin-top: 0.5em;
      }
      .tag-HVE {
        color: #0a0deb;
        margin-top: 0.5em;
      }
    }
  }
  // DIV format : capacity and degrees
  .left-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
    margin: 1em 0 1em 0;
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    color: vars.$primary-color;
    .degrees {
      color: rgb(92, 92, 92);
      font-style: italic;
      font-weight: 400;
    }
  }
}
//* Concerns the lower part of the menu: information on the winegrowers, the region, the name of the wine *//

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;

  .winemaker {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: vars.$primary-color;
  }
  .wine-name {
    margin-top: 0.5em;
    font-size: 1.4em;
    font-style: italic;
  }
  .wine-region {
    margin-top: 0.6em;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.6em;
    font-style: italic;
  }

  .tablet-color-rouge {
    color: #a5260a;
    font-size: 6em;
  }
  .tablet-color-blanc {
    color: #fdf1b8;
    font-size: 6em;
  }
  .tablet-color-rosé {
    color: #fe96a0;
    font-size: 6em;
  }
}

.card-price {
  display: flex;
  justify-content: center;
  .price-btn {
    background-color: vars.$primary-color;
    width: 45%;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    color: white;
    border-color: vars.$primary-color;
    border-radius: 2em;
    margin-bottom: 1em;
  }
  .price-btn:hover {
    background-color: white;
    color: vars.$primary-color;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
  }
  .price {
    margin-left: 0.5em;
    font-weight: 600;
    font-size: 2em;
    color: vars.$primary-color;
    font-style: italic;
  }
}
