.form-add-wine {
    width : 60%;
    margin : auto;
    display: flex;
    flex-direction: column;
    margin-top : 10em;
}

.form-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color : #A02222;
}

.tag {
    margin-right : 0.8em;
    margin-top: 1em;
}

.field {
    padding-top: 1em;

}

