@use "src/styles/vars";
.header {
  z-index: 2;
  width: 100%;

  .navbar {
    display: flex;
    background-color: vars.$primary-color;
    justify-content: space-between;
    width: 100%;
    position: fixed;

    .logo {
      width: 80%;
      padding: 1em;
      min-width: 8rem;
    }
    .menu {
      width: 60%;
      display: flex;
      align-items: center;
      width: auto;
    }

    .menu-link {
      width: 20%;
      align-items: center;
    }
    .menu-user {
      height: 100%;
      align-items: center;
      display: flex;
    }
    .link {
      width: 100%;
    }
    .tab-link {
      font-size: 1.3rem;
      font-weight: bold;
      font-family: vars.$font-Montserrat;
      min-width: 2rem;
    }
    .tab-link:hover {
      font-family: vars.$font-Montserrat;
      font-weight: 100;
    }
    .tab-connexion {
      color: vars.$secondary-color;
      font-family: vars.$font-Montserrat;
      transition: 0.1s 0.1s ease-in-out;
      padding: vars.$gutter1;
      cursor: pointer;
    }
    .tab-connexion:hover {
      font-family: vars.$font-Montserrat;
      font-weight: 600;
    }
 
    .logo-user {
      display: block;
      align-items: center;
      width: 25%;
      margin: auto;
    }
  }
}
//* Responsive for Desktop *//
@media screen and (min-width: 900px) {
  .header {
    .navbar {
      // Management of login form Desktop
      .menu-login {
        display: flex;
      }
      .logo-user {
        display: none;
      }
    }
  }
}

