.cardList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;

}
.searchBar {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
