.cardList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin:  auto;
  justify-content: center;

}

.searchBar {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

@media screen and (min-width: 923px) {
  .searchBar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
}

