@use "src/styles/vars";

.details {
  display: flex;
  flex-direction: column;
  width: 100%;

  .details-container-visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 5rem;

    .details-img {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 1rem;
      padding: 2rem;
   

     
      .tablet-color-rouge {
        color: #a5260a;
        font-size: 10rem;
        padding-left: 1.4rem;
      }

      .tablet-color-blanc {
        color: #fdf1b8;
        font-size: 10rem;
      }
      .tablet-color-rosé {
        color: #fe96a0;
        font-size: 10rem;
      }

      .wine-img {
        width: 25%;
      }

      .details-tag {
        margin-top: 1rem;
        margin-right: 3rem;

        .details-Bio {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #1ebd4e;
          width: 60%;
        }
        .details-Biodynamie {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #1896b6;
          width: 1000%;
        }
        .details-Nature {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #c2250a;
          width: 100%;
        }
        .details-Vegan {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #e9780f;
          width: 100%;
        }
        .sulfites {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #ac089e;
          width: 100%;
        }

        .details-Raisonnée {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #ad6f10;
          width: 100%;
        }
        .details-HVE {
          font-size: 1.1rem;
          font-style: italic;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          color: #0a0deb;
          width: 100%;
        }
      }
      .point {
        font-size: 2rem;
      }
    }
  }
  .details-cart {
    margin-top: 2rem;
    width: 80%;
    .details-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .details-price {
        font-size: 1.6rem;
        font-weight: 600;
        font-style: italic;
        color: vars.$primary-color;
        margin-top: 1rem;
      }

      .details-winemaker {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: vars.$primary-color;
      }
      .details-wine-name {
        font-size: 1.5rem;
        margin-top: 0.6rem;
        font-style: italic;
      }
      .details-wine-region {
        font-size: vars.$font-size-1rem;
        margin-top: 0.6rem;
        font-style: italic;
        font-weight: bold;
      }
    }
  }
  .details-form {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    height: 3rem;
    .details-input {
      width: 20%;
      height: 3rem;
      border: 1px solid #d4d3d3;
      padding-left: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      font-style: italic;
      color: vars.$primary-color;
      text-align: center;
      margin-right: 0.5rem;
      border-radius: 1rem 1rem 1rem 1rem;
    }
    .details-btn {
      background-color: vars.$primary-color;
      border: 1px solid vars.$primary-color;
      border-radius: 1rem 1rem 1rem 1rem;
      color: white;
      font-size: 1rem;
      padding: 0.6rem 1rem;
      font-weight: 600;
      width: 50%;
    }
  }
}

.details-container-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;

  .details-reviews {
    width: 80%;
    background-color: rgb(0, 255, 0);
    margin-top: 1rem;
  }
  .details-features {
    width: 80%;
    background-color: rgb(255, 0, 255);
    margin-top: 1rem;
  }
}




//* Responsive for Desktop *//

@media screen and (min-width: 1000px) {
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;

    .details-container-visual {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      margin-top: 7rem;
      height: 100%;
      border-bottom: 1px solid #d4d3d3;;



   

      .details-img {
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin-top: 1rem;
        border-right: 1px solid #d4d3d3;;

        
        .tablet-color-rouge {
          color: #a5260a;
          font-size: 8rem;
 
        }
  
        .tablet-color-blanc {
          color: #fdf1b8;
          font-size: 8rem;
        }
        .tablet-color-rosé {
          color: #fe96a0;
          font-size: 8rem;
        }
  
      }
      .details-cart-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
      }

      .details-cart {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .details-content {
          height: 100%;

          .details-price {
            font-size: 3rem;
            font-weight: 600;
            font-style: italic;
            color: vars.$primary-color;
            margin-top: 5rem;
          }
     
       
          .details-winemaker {
            font-size: 1.5rem;
           
          }
          .details-wine-name {
            font-size: 1.5rem;
            margin-top: 2rem;
          }
          .details-wine-region {
            font-size: 1.7rem;
            margin-top: 1.5rem;
            margin-bottom: 5rem;
            
          }
        }
      }
      
      .details-form {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        height: 3rem;
        bottom: 0;

        .details-input {
          width: 10%;
          height: 3rem;
          border: 1px solid #d4d3d3;
          padding-left: 1rem;
          font-size: 1.3rem;
          font-weight: 600;
          font-style: italic;
          color: vars.$primary-color;
          text-align: center;
          margin-right: 0.5rem;
          border-radius: 1rem 1rem 1rem 1rem;
        }
        .details-btn {
          background-color: vars.$primary-color;
          border: 1px solid vars.$primary-color;
          border-radius: 1rem 1rem 1rem 1rem;
          color: white;
          font-size: 1rem;
          padding: 0.6rem 1rem;
          font-weight: 600;
          width: 30%;
        }
      }
    }
  }
}
