.App {

  display :  flex ;
  flex-direction :  column ;
  justify-content: space-between;
  height: 100vh;

}

// .App {
//   margin : 0;
//   padding-bottom : 16%;
//   min-height : 100%; 
//   position:relative; 
// }
