.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // This container allows to apply a "flex-wrap" on the "main" (For components : FilterMenu, CardList)
  .container{
    display: flex;
    flex-direction: flex-start;
    height: auto;
    width: 100%;
  }



  
}