@use "src/styles/vars";

.ui.negative.big.message.signup, .ui.negative.message.login-mobile, .ui.green.big.message.signup{
  width: 90vw;
  text-align: center; 
  margin: auto; 
}

.connexion {
  margin-top: 7rem;
}
.title {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #c62828;
}
.text {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
  font-style: italic;
}
.succes-message{
  text-align: center
}

//* Responsive for desktop *//

@media screen and (min-width: 970px) {
  .container-form {
    margin-top: 8rem;
  }
  .title {
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #c62828;
  }
  .connexion {
    display: none;
  }

  .ui.negative.message.login-mobile{
    display: none; 
  }

}
