//* Colors Chart

$primary-color: #A02222;
$secondary-color: #F3F3F3;
$tertiary-color: #B87C3E;
$border-color: 	#C0C0C0;

//* Gutters *//

$gutter1: 1rem;
$gutter2: 2rem;
$gutter3: 3rem;


//* Fonts *//

// Font-Family : Montserrat
$font-Montserrat: 'Montserrat', sans-serif;
// Fonts - Menu 
$font-size-menu1: 1.3rem;
$font-size-menu2: 1.8rem;
$font-size-1rem: 1rem;
